# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
possible-haven-459822-j7-2fb7e58a341a.json

# Database
instance/*.db
*.sqlite3

# VS Code settings
.vscode/

# Flask instance folders
instance/

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log 
 