{% extends "products/base.html" %}
{% block title %}Product {{ product.upc }}{% endblock %}

{% block detail %}
<div id="info" class="flex">
  <aside>
    {% if product.image_url %}
      <img src="{{ product.image_url }}" id="image-url" class="w-48 mb-2" alt="Product Image" />
    {% else %}
      <p class="italic text-gray-400">No image available</p>
    {% endif %}
  </aside>

  <p><strong>{{ product.name }}</strong><br> {{ product.upc }}</p>
</div>

<div id="deals-data" class="text-sm text-gray-700 mt-4">
	
	<ul>
	{% for deal in product.deals %}
	  <li>{{ deal.store }} - ${{ "%.2f"|format(deal.price) }} ({{ deal.source }})</li>
	{% else %}
	  <li>No deals found.</li>
	{% endfor %}
	</ul>
</div>


{% endblock %}
