{% extends "base.html" %}
{% block title %}Product Lookup{% endblock %}

{% block content %}
{% from "partials/_products.html" import render_products %}
{% from "partials/_pagination.html" import render_pagination %}

<div class="max-w-4xl mx-auto p-6">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
    
    <!-- Left: Heading -->
    <div class="sm:w-1/4">
      <h1 class="text-2xl font-bold text-gray-800">Product Lookup</h1>
    </div>

    <!-- Right: Search Form -->
    <form method="get" action="/products" class="flex flex-col sm:flex-row sm:w-3/4 gap-2">
      <input
        type="text"
        name="query"
        placeholder="Search by UPC, Product Name, Category etc..."
        value="{{ query }}"
        class="flex-1 px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        type="submit"
        class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
      >
        Search
      </button>
    </form>
    
  </div>
</div>

<div>
  <p class="text-sm text-gray-500 mb-4">
    Found {{ total_display }} product{{ total_diplay != 1 and 's' or '' }}
  </p>

  <!-- Product List -->
      {{ render_products(pagination, current_user)}}
      {{ render_pagination(page, total_pages, url_builder) }}

<!--
    <div class="flex justify-between items-center pt-4">
      {% if pagination.has_prev %}
        <a href="{{ url_for('products', page=pagination.prev_num, query=query) }}" class="text-blue-600">← Prev</a>
      {% endif %}
      <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
      {% if pagination.has_next %}
        <a href="{{ url_for('products', page=pagination.next_num, query=query) }}" class="text-blue-600">Next →</a>
      {% endif %}
    </div>
-->
  <p class="text-sm text-gray-500">Total products in database: {{ db_total }}</p>
</div>

{% endblock %}
