<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% block content %}
<div class="flex">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-100 min-h-screen p-4">
    <h2 class="text-xl font-semibold mb-6"><a href="{{ url_for('dashboard') }}"> My Dashboard </a></h2>
    <nav class="space-y-2">
      <a href="{{ url_for('dashboard_added_products') }}" class="block text-blue-600 hover:underline">My Added Products</a>
      <a href="{{ url_for('dashboard_favorites') }}" class="block text-blue-600 hover:underline">My Favorites</a>
      <a href="{{ url_for('dashboard_ratings') }}" class="block text-blue-600 hover:underline">My Ratings</a>
      <a href= "{{ url_for('dashboard_comments') }}" class="block text-blue-600 hover:underline">My Comments</a>

      </br>
      {% if current_user.is_authenticated and current_user.admin %}
        <h2>Admin</h2>
        <a href="{{ url_for('dashboard_suggestions') }}" class="block text-blue-600 hover:underline">Approve Products</a>
        <a href="{{ url_for('dashboard_new_user') }}" class="block text-blue-600 hover:underline">Create Users</a>
      {% endif %}

    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-6 space-y-10">
    {% block dashboard %}{% endblock %}
  </main>
</div>
{% endblock %}
